{{ define "layout" }}

<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<title> NHS CSHS FRC </title>
	</head>

	<body>
		<div class="main">
			<div class="header">
				<div class="header-icon">
					<a href="/"> <img src="/static/combined.png"> </img> </a>
				</div>

				<div class="header-item">
					<h1>Integrated Development Environment</h1>
					<p> <a href="/ide/"> Code Editor </a>,  
					<a href="/admin/"> Administration </a>, 
					<a href="/about/"> About </a></p>
				</div>
			</div>

			<div class="body">
				<div class="nested-body">
					<h2> About the website </h2>
					<p> Created as a joint venture between the NHS Computer Science Honors Society and FRC
					team 548, the robostangs </p>
					<h2> Credits </h2>
					<ul> 
						<li> Concept and all code by Charlie Sands (www.sckzor.ga) </li>
						<li> Interactive IDE powered by CodeMirror (www.codemirror.net) </li>
						<li> Testing and validation by nobody (i hope it works in deployment) </li>
						<li> Thanks to the Robostangs for letting me steal their robot for this </li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>

{{ end }}
