{{ define "layout" }}

<html>
	<head>
		<title> NHS CSHS FRC </title>
	</head>

	<body>
		<h1> Welcome! </h1>
		<hr>
		<p> This is the web-based IDE (Integrated Development Environment) for 
		programming the robot.  With this system you can program the Robostang's FRC 
		(First Robotics Competition) robot in the Python programming language.  Most 
		Python syntax and control flow still applies in this environment, however 
		you cannot import any modules into the interpreter. </p>
		<p> To go to the IDE, click <a href="/ide/"> here </a> </p>
	</body>
</html>

{{ end }}
