{{ define "layout" }}

<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<title> NHS CSHS FRC </title>
	</head>

	<body>
		<div class="main">
			<div class="header">
				<div class="header-icon">
					<img src="/static/robostangs.png"> </img>
				</div>

				<div class="header-item">
					<h1>Integrated Development Environment</h1>
					<p> <a href="/ide/"> Code Editor </a>,  
					<a href="/admin/"> Administration </a>, 
					<a href="/about/"> About </a></p>
				</div>
			</div>

			<div class="body">
				<div class="nested-body">
					<h2> Welcome to the NHS Robostangs/CSHS IDE </h2>
					<p> This is the web-based IDE (Integrated Development Environment) for
					programming the robot.  With this system you can program the Robostang's FRC 
					(First Robotics Competition) robot in the Python programming language.  Most 
					Python syntax and control flow still applies in this environment, however 
					you cannot import any modules into the interpreter. </p>
					<p> To go to the IDE, click the link in the top bar. </p>
				</div>
			</div>
		</div>
	</body>
</html>

{{ end }}
